<script>
 $(document).ready(function() {

	// Area chart

	var options = {
          series: [{{ Student_count }},{{ Faculty_count }},{{ Driver_count }},{{ Incharge_count }}],
          chart: {
          height: 350,
			width: '100%',
          type: 'pie',
        },
        labels: ['Students', 'Faculty', 'Driver', 'Incharge'],
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#all_details"), options);
        chart.render();

	// Bar chart

	if ($('#Stud_gender').length > 0) {
	var optionsBar = {
		chart: {
			type: 'bar',
			height: 350,
			width: '100%',
			stacked: true,
			toolbar: {
				show: false
			},
		},
		dataLabels: {
			enabled: false
		},
		plotOptions: {
			bar: {
				columnWidth: '45%',
			}
		},
		series: [{
			name: "Boys",
			color: '#fdbb38',
			data: [{{ Student_gender_male }}],
		}, {
			name: "Girls",
			color: '#19affb',
			data: [{{ Student_gender_female }}],
		}],
		labels: [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020],
		xaxis: {
			labels: {
				show: false
			},
			axisBorder: {
				show: false
			},
			axisTicks: {
				show: false
			},
		},
		yaxis: {
			axisBorder: {
				show: false
			},
			axisTicks: {
				show: false
			},
			labels: {
				style: {
					colors: '#777'
				}
			}
		},
		title: {
			text: '',
			align: 'left',
			style: {
				fontSize: '18px'
			}
		}

	}

	var chartBar = new ApexCharts(document.querySelector('#Stud_gender'), optionsBar);
	chartBar.render();
	}

    // student and Staff
     var options = {
          series: [{{Student_count}}, {{ Faculty_count }}],
          chart: {
          type: 'donut',
        },
         labels: ['Students', 'Faculty'],
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              height: 350,
			width: '100%',
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#Stud_Faculty"), options);
        chart.render();

        //course and student
     var options = {
          series: [{{Driver_count}},{{Incharge_count}}],
          chart: {
          height: 350,
			width: '100%',
          type: 'donut',
        },

        plotOptions: {
          pie: {
            startAngle: -90,
            endAngle: 270
          }
        },
        dataLabels: {
          enabled: false
        },
        fill: {
          type: 'gradient',
        },
        legend: {
          formatter: function(val, opts) {
            return val + " - " + opts.w.globals.series[opts.seriesIndex]
          }
        },
         labels: ['Driver', 'Incharge'],
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#Driver_Incharge"), options);
        chart.render();
});
</script>